.title-album {
    background-color: antiquewhite;
    border-bottom: 1px solid rgba(54, 54, 54, 0.192);
    padding: 5px 0;
    transition: background-color 0.2s;
}
.title-album h3, p{
    padding-left: 10px;
    color: rgb(49, 49, 49);
}
.title-album:hover {
    background-color: rgb(247, 211, 165);

}