.home-button {
    border-radius: 20px;
    margin: 10px 10px;
    min-width: 150px;
    height: 70px;
    padding: 0 10px;
    color: rgb(34, 126, 95);
    background-color: rgba(125, 209, 181, 0.315);
    border: 1px solid rgb(34, 126, 95);
}
.home-button:hover {
    background-color: rgb(34, 126, 95);
    color: white;

}
.section-home {
    padding-top: 50px !important;
    
}
