.post{
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 300px;
  text-align: center;
}
.back{
  margin: 30px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  background-color: #86C232;
  border-radius: 5px;
  color: #fff;
  padding: 10px 60px;
}