.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.back {
  margin: 30px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  background-color: #86c232;
  border-radius: 5px;
  color: #fff;
  padding: 10px 60px;
}
