.crut_container {
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.crut_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid coral;
    min-width: 600px;
    min-height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.crut_posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 600px;
    min-height: 300px;
}
.crut_post_container {
    margin-top: 10px;
    display: flex;
    border: 1px solid black;
    width: 100%;
    padding: 20px;
    margin-left: 20px;
    background: coral;
    color: white;
}
.crut_post_buttons {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 20px;
    width: 100%;
}
.crut_text_container {
    display: flex;
    flex-direction: column;
}
.delete {
    border: none;
    background: rgb(136, 0, 255);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 30px;

}
.redact {
    border: none;
    background: rgb(208, 0, 255);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.add {
    margin-top: 50px;
    border: none;
    background: rgb(54, 201, 54);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.title {
    white-space: nowrap;

}
.body {
    white-space: nowrap;
}
.price {
    white-space: nowrap;
}